WebServiceClient/src/wsdl/localhost_8085/validation-manager/VMWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.web.manager.validation.javydreamercsw.sourceforge.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.web.manager.validation.javydreamercsw.sourceforge.net/">

<xs:element name="VMException" type="tns:VMException"/>

<xs:element name="getProject" type="tns:getProject"/>

<xs:element name="getProjectResponse" type="tns:getProjectResponse"/>

<xs:element name="getRootProjects" type="tns:getRootProjects"/>

<xs:element name="getRootProjectsResponse" type="tns:getRootProjectsResponse"/>

<xs:element name="getVMUser" type="tns:getVMUser"/>

<xs:element name="getVMUserResponse" type="tns:getVMUserResponse"/>

<xs:element name="project" type="tns:project"/>

<xs:element name="saveProject" type="tns:saveProject"/>

<xs:element name="saveProjectResponse" type="tns:saveProjectResponse"/>

<xs:element name="userStatus" type="tns:userStatus"/>

<xs:element name="vmUser" type="tns:vmUser"/>

<xs:complexType name="getVMUser">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVMUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:vmUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vmUser">
<xs:complexContent>
<xs:extension base="tns:login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="locale" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userStatusId" type="tns:userStatus" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="login">
<xs:complexContent>
<xs:extension base="tns:versionable">
<xs:sequence>
<xs:element name="attempts" type="xs:int"/>
<xs:element name="lastModified" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="versionable">
<xs:complexContent>
<xs:extension base="tns:vmAuditedObject">
<xs:sequence>
<xs:element name="majorVersion" type="xs:int"/>
<xs:element name="midVersion" type="xs:int"/>
<xs:element name="minorVersion" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="vmAuditedObject">
<xs:sequence>
<xs:element name="modDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="auditable" type="xs:boolean"/>
<xs:element name="modificationReason" type="xs:string" minOccurs="0"/>
<xs:element name="modificationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modifierId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userStatus">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VMException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveProject">
<xs:sequence>
<xs:element name="newProject" type="tns:project" minOccurs="0"/>
<xs:element name="user" type="tns:vmUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="project">
<xs:complexContent>
<xs:extension base="tns:versionable">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
<xs:element name="parentProjectId" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="saveProjectResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRootProjects">
<xs:sequence>
<xs:element name="user" type="tns:vmUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRootProjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:project" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProject">
<xs:sequence>
<xs:element ref="tns:project" minOccurs="0"/>
<xs:element name="user" type="tns:vmUser" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProjectResponse">
<xs:sequence>
<xs:element name="return" type="tns:project" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>