WebServiceClient/src/wsdl/localhost_8085/validation-manager/VMWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.manager.validation.javydreamercsw.sourceforge.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.manager.validation.javydreamercsw.sourceforge.net/" name="VMWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.manager.validation.javydreamercsw.sourceforge.net/" schemaLocation="http://localhost:8085/validation-manager/VMWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getRootProjects">
<part name="parameters" element="tns:getRootProjects"/>
</message>
<message name="getRootProjectsResponse">
<part name="parameters" element="tns:getRootProjectsResponse"/>
</message>
<message name="VMException">
<part name="fault" element="tns:VMException"/>
</message>
<message name="getVMUser">
<part name="parameters" element="tns:getVMUser"/>
</message>
<message name="getVMUserResponse">
<part name="parameters" element="tns:getVMUserResponse"/>
</message>
<message name="getProject">
<part name="parameters" element="tns:getProject"/>
</message>
<message name="getProjectResponse">
<part name="parameters" element="tns:getProjectResponse"/>
</message>
<message name="saveProject">
<part name="parameters" element="tns:saveProject"/>
</message>
<message name="saveProjectResponse">
<part name="parameters" element="tns:saveProjectResponse"/>
</message>
<portType name="VMWebService">
<operation name="getRootProjects">
<input wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getRootProjectsRequest" message="tns:getRootProjects"/>
<output wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getRootProjectsResponse" message="tns:getRootProjectsResponse"/>
<fault message="tns:VMException" name="VMException" wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getRootProjects/Fault/VMException"/>
</operation>
<operation name="getVMUser">
<input wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getVMUserRequest" message="tns:getVMUser"/>
<output wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getVMUserResponse" message="tns:getVMUserResponse"/>
<fault message="tns:VMException" name="VMException" wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getVMUser/Fault/VMException"/>
</operation>
<operation name="getProject">
<input wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getProjectRequest" message="tns:getProject"/>
<output wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getProjectResponse" message="tns:getProjectResponse"/>
<fault message="tns:VMException" name="VMException" wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/getProject/Fault/VMException"/>
</operation>
<operation name="saveProject">
<input wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/saveProjectRequest" message="tns:saveProject"/>
<output wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/saveProjectResponse" message="tns:saveProjectResponse"/>
<fault message="tns:VMException" name="VMException" wsam:Action="http://service.web.manager.validation.javydreamercsw.sourceforge.net/VMWebService/saveProject/Fault/VMException"/>
</operation>
</portType>
<binding name="VMWebServicePortBinding" type="tns:VMWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRootProjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VMException">
<soap:fault name="VMException" use="literal"/>
</fault>
</operation>
<operation name="getVMUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VMException">
<soap:fault name="VMException" use="literal"/>
</fault>
</operation>
<operation name="getProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VMException">
<soap:fault name="VMException" use="literal"/>
</fault>
</operation>
<operation name="saveProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VMException">
<soap:fault name="VMException" use="literal"/>
</fault>
</operation>
</binding>
<service name="VMWebService">
<port name="VMWebServicePort" binding="tns:VMWebServicePortBinding">
<soap:address location="http://localhost:8085/validation-manager/VMWebService"/>
</port>
</service>
</definitions>